<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/badger/<%=badger._id%>" method="post">
        <p>Name: <input type="text" name="name" value=<%=badger.name%>></p>
        <p>Color: <input type="text" name="color" value=<%=badger.color%>></p>
        <p>Favorite Snack: <input type="text" name="favorite_snack" value=<%=badger.favorite_snack%>></p>
        <input type="submit" value="make a badger">
    </form>

</body>
</html>