<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    This is the index and will show all the badgers
    <a href="/badger"><button>Make a new Badger</button></a>
    <% for(let badger of allBadgers){ %>
        <a href="/badger/<%=badger._id%>"><p><%=badger.name%></p></a>

    <a href="/badger/destroy/<%=badger._id%>">Delete!!!!!</a>
    <%}%>
</body>
</html>